.button {
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    color:violet;
}

.search-form {
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
}
li{
    list-style: none;
}